.loader-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;

  padding-right: 4%;
  padding-left: 4%;
}

.jobs-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jobs-filters-section {
  margin: 20px;
  margin-top: 0px;
}

@media (min-width: 576px) {
  .jobs-section {
    width: 70%;
  }
}

.input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 50px;
  border: 1px solid #b6c5ff;
  border-radius: 5px;
  margin-bottom: 5%;

  max-width: 400px;
}
.search-ip {
  color: white;
  border: 0px;
  padding: 10px;
  width: 100%;
  background-color: #000000;

  cursor: pointer;
  outline: none;
}
.search-icon-btn {
  cursor: pointer;
  outline: none;

  color: white;
  height: 100%;
  width: 50px;
  border: 0px;
  background-color: #272727;
}

.jobs-container {
  display: flex;
  flex-direction: column;

  padding-right: 4%;
  padding-left: 4%;
}

.no-jobs-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-right: 4%;
  padding-left: 4%;

  margin-top: 5%;
}

.jobs-container-all {
  padding-top: 5%;
}

.failure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
}

.jobs-failure-button {
  color: white;
  cursor: pointer;
  border: 0px;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  margin-top: 10px;
  background-color: #4f46e5;
}

.jobs-container-all {
  display: flex;
}
.no-jobs-img {
  width: 80%;
  max-width: 450px;
}

.no-jobs-h1 {
  color: white;
}
.no-jobs-desc {
  color: white;
}

@media (max-width: 576px) {
  .jobs-container-all {
    flex-direction: column;
  }
}
